.row {
	/*overflow-x: scroll;*/
	white-space: nowrap;
}

.year{
	display: inline-block;
	width: 50px;
}

.current {
	/*color: red;*/
}

:host /deep/ .highlight .box{
	background: purple;
	border: 1px solid purple;
}